.titlebar-container {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  z-index: 999;

  button {
    -webkit-app-region: no-drag;
  }

  button:last-child {
    md-icon {
      margin-right: 0;
    }
  }

  div.titlebar-update-wrapper {
    md-icon {
      transition: transform 1s linear;
    }
  }
}

@media (max-width: 599px) {
  div.titlebar-update-wrapper {
    width: auto;
    flex: 1;
    justify-content: flex-start;

    md-icon {
      padding: 0;
      margin: 0;
    }
  }
}
