<md-dialog class="download-dialog" aria-label="Downloads">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Downloads</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-disabled="download.state.downloading" ng-click="download.start()">
        <md-icon md-font-library="material-icons" aria-label="Start" alt="Start">
          play_arrow
        </md-icon>
      </md-button>
      <md-button class="md-icon-button md-warn" ng-disabled="!download.state.downloading" ng-click="download.stop()">
        <md-icon md-font-library="material-icons" aria-label="Stop" alt="Stop">
          stop
        </md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="download.cancel()">
        <md-icon md-font-library="material-icons" aria-label="Close" alt="Start">
          close
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-subheader layout-padding>
    <i class="download-path">
      Animes are downloaded in
      <strong ng-click="download.clickPath()">{{ download.displayPath }}</strong>
    </i>
  </md-subheader>
  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
      <md-content>
        <md-divider></md-divider>
        <section class="download-list" ng-if="download.animes.length" layout-padding>
          <md-list>
              <md-list-item class="download-item" layout-margin ng-repeat="anime in download.animes">
                <div ng-class="{'md-list-item-text': true, 'anime-ignore': anime.ignore}" flex="" layout="column">
                <h4 class="download-item-title">
                  {{ anime.totalPercent === 0 ? '' : '*' }} {{ anime.title }}
                </h4>
                <h5 class="download-item-episodes">
                  Episode{{ anime.totalDownloads >= 1 ? 's ' + download.filteredEpisodes(anime)[0] + ' / ' + download.filteredEpisodes(anime)[download.filteredEpisodes(anime).length - 1] : ' ' + download.filteredEpisodes(anime) }}
                </h5>
                <h6 class="download-item-infos" ng-hide="anime.totalPercent === 0">
                  {{ anime.download.currDlSpeed }} MB/s
                </h6>
              </div>
              <md-progress-circular ng-hide="anime.totalPercent === 0" md-mode="determinate" md-diameter="40" value="{{ anime.totalPercent }}">
              </md-progress-circular>
              <md-button class="md-icon-button md-secondary" ng-hide="download.state.downloading" ng-click="download.delete(anime.link)">
                <md-icon md-font-library="material-icons" aria-label="Add" ng-hide="!anime.ignore">
                  add_circle_outline
                </md-icon>
                <md-icon md-font-library="material-icons" aria-label="Remove" ng-hide="anime.ignore">
                  remove_circle_outline 
                </md-icon>
              </md-button>
            </md-list-item>
          </md-list>
        </section>
        <section ng-if="!download.animes.length" layout="row" layout-align="center center" layout-padding>
          <h3 class="md-headline">
            You don't have anything to download.
          </h3>
        </section>
      </md-content>
    </div>
  </md-dialog-content>
</md-dialog>
