.download-dialog {
  width: 480px;

  .md-subheader-inner {
    padding: 2px;
    padding-left: 4px;
    font-size: 12px;
  }

  i.download-path {
    font-weight: normal;

    strong {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  section.download-list {
    overflow: auto;
    overflow-x: hidden;
    max-height: 35vh;
  }

  md-list-item.download-item {
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;

    div.anime-ignore {
      color: #6e6e6e;
    }

    h4.download-item-title {
      margin: 0px;
      padding: 4px;
      padding-bottom: 0px;
    }

    h5.download-item-episodes,
    h6.download-item-infos {
      margin: 0px;
      padding: 4px;
      font-weight: normal;
    }
  }
}
